body{
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.title {
    text-align: center;
    font-family: 'Bai Jamjuree', "微軟正黑體", sans-serif;
    font-size: 72px;
    position: relative;
    color: gold;
    margin-bottom:2%;
    margin-top:1%;
}
.ui {
    font-family: 'Bai Jamjuree', "微軟正黑體", sans-serif;
    
    background-color: gold;
    margin: 2%;
    padding: 1%;
    border-radius: 5px;
}
.ui div{
    font-family: 'Bai Jamjuree', "微軟正黑體", sans-serif;
    margin: 5px;
}
.button {
    animation-name: Ocp;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: initial;
    margin-left: 39%;
    margin-top: 5%;
    color: gold;
    background-color: black;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
.text {
    color: gold;
    background-color: black;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size:28px;
}
.smallt {
    color: black;
    text-align:center;
    font-size:24px;
}